# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.spec

# Buildozer
.buildozer/
bin/
*.apk
*.aab

# Kivy
*.kv

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
venv/
.venv/
